<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lead List</title>

  <style>
    .lead {
      padding: 10px 6px;
      margin-top: 10px;
      background-color: #f6f6f6;
      width: 100%;
      list-style: none;
    }
  </style>
</head>
<body>
  <a href="/leads/lists">Go Back</a>
  <h2>Create Lead</h2>
  <form method="post" action=".">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
  </form>
</body>
</html>